process-covid-data-mgmt-api/src/main/mule/covid-data-mgmt-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="covid-data-mgmt-process-api-main">
        <http:listener config-ref="covid-data-mgmt-process-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="covid-data-mgmt-process-api-config" doc:id="e6e11087-340f-4c1b-b2b5-6873c2fe9b09"/>
        <error-handler ref="Error_Handler" />
    </flow>
    <flow name="post:\covid19\data\management\(source):application\json:covid-data-mgmt-process-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="e1f2d356-27fe-4258-89fb-cec282953806" message="Executing post:\covid19\data\management\(source):application\json:covid-data-mgmt-process-api-config Flow" />
        <choice doc:name="Choice" doc:id="68edc2d3-31c6-4849-8609-33a01d82fe77">
            <when expression="#[attributes.uriParams.source == 'nyt']">
                <flow-ref doc:name="Flow Reference" doc:id="3a8105d3-103c-41ca-b8a7-74ab09e8144f" name="covid-nyt-data-mgmt-implFlow" />
                <ee:transform doc:name="Transform Message" doc:id="d3c6aedd-1bd3-4da3-840e-991401c9db2e">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "COVID-19 records from NY Times have been successfully submitted."
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <when expression="#[attributes.uriParams.source == 'ecdc']">
                <flow-ref doc:name="Flow Reference" doc:id="7ee8a246-d129-4275-bac9-2ca0d1c01be9" name="covid-ecdc-data-mgmt-implFlow" />
                <ee:transform doc:name="Transform Message" doc:id="dc95e88a-d7ce-4fd9-ae2b-4c4dae2ac4c7">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "COVID-19 records from ECDC have been successfully submitted."
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
				<set-variable value="400" doc:name="HTTP Status" doc:id="0a27aeec-27e4-43b2-88dc-6114f057b7bc" variableName="httpStatus"/>
				<ee:transform doc:name="Transform Message" doc:id="0a2f8b4e-be46-49a3-9906-c879c55cf9fe" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"The requested resource is invalid."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
            </otherwise>
        </choice>
        <error-handler ref="Error_Handler" />
    </flow>
    <flow name="post:\covid19\data\management\(source):covid-data-mgmt-process-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="source">attributes.uriParams.'source'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "COVID-19 records have been successfully submitted."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
