sys-load-us-covid-datafile-api/src/main/mule/load-US-covid-datafile-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="load-US-covid-datafile-api-main">
        <http:listener path="/api/*" config-ref="load-US-covid-datafile-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="load-US-covid-datafile-api-config" doc:id="f76ee5dc-46c1-4670-93bd-cf0a6add3e98"/>
		<error-handler ref="Error_Handler" />
    </flow>
    <flow name="get:\covid19\data\nytimes:load-US-covid-datafile-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="f7771aff-6a7d-4f61-9842-f11054f7299a" message="Executing get:\covid19\data\nytimes:load-US-covid-datafile-api-config Flow"/>
		<http:request method="GET" doc:name="Request" doc:id="cd8ec152-6ab4-451e-873a-a90fceb6e5aa" path="/${nyt.path}" outputMimeType="application/csv" responseTimeout="60000" config-ref="HTTP_Request_NYT_configuration"/>
		<ee:transform doc:name="Size Reduction" doc:id="19e4b0da-8a94-43f3-b1bf-d6d909c5696c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload filter ($$<250000)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<compression:compress doc:name="Compress" doc:id="c2ae0bce-e358-4a7d-a146-6c74ed41a769" >
			<compression:compressor >
				<compression:zip-compressor />
			</compression:compressor>
		</compression:compress>
		<logger level="INFO" doc:name="Logger" doc:id="74aa768e-d4ac-44f9-bafe-181fb9ba53b7" message="Executed get:\covid19\data\nytimes:load-US-covid-datafile-api-config Flow"/>
		<error-handler ref="Error_Handler" />
    </flow>
</mule>
