sys-load-global-covid-datafile-api/src/main/mule/load-global-covid-datafile-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd">

	<flow name="load-global-covid-datafile-api-main">
        <http:listener config-ref="load-global-covid-datafile-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="load-global-covid-datafile-api-config" doc:id="95ec1661-eba9-4313-aa84-c5bb94053a7f"/>
        <error-handler ref="Error_Handler">
            
        </error-handler>
    </flow>
    
    <flow name="get:\covid19\data\ecdc:load-global-covid-datafile-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="19734305-435c-48bc-afd7-84346af0c395" message="Executing get:\covid19\data\ecdc:load-global-covid-datafile-api-config Flow"/>
		<http:request method="GET" doc:name="Request" doc:id="739ec6aa-f4da-49ae-8bf2-b8acbfc5c6f1" config-ref="HTTP_Request_ECDC_configuration" path="/${ecdc.path}" outputMimeType="application/csv" responseTimeout="60000"/>
		<compression:compress doc:name="Compress" doc:id="b26b53bb-9993-4da3-999b-128b9935870d" >
			<compression:compressor >
				<compression:zip-compressor />
			</compression:compressor>
		</compression:compress>
		<logger level="INFO" doc:name="Logger" doc:id="3ed2a70d-a307-460c-af95-095a88960441" message="Executed get:\covid19\data\ecdc:load-global-covid-datafile-api-config Flow"/>
		<error-handler ref="Error_Handler" />
    </flow>
</mule>
